1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [18]:
for i in range(1500,2700):
    
    if i%7==0 and  i*5:
        print(i)

        
for i in range(1500,2700):
    if i%7==0 and i*5:
        print(i)

1505
1512
1519
1526
1533
1540
1547
1554
1561
1568
1575
1582
1589
1596
1603
1610
1617
1624
1631
1638
1645
1652
1659
1666
1673
1680
1687
1694
1701
1708
1715
1722
1729
1736
1743
1750
1757
1764
1771
1778
1785
1792
1799
1806
1813
1820
1827
1834
1841
1848
1855
1862
1869
1876
1883
1890
1897
1904
1911
1918
1925
1932
1939
1946
1953
1960
1967
1974
1981
1988
1995
2002
2009
2016
2023
2030
2037
2044
2051
2058
2065
2072
2079
2086
2093
2100
2107
2114
2121
2128
2135
2142
2149
2156
2163
2170
2177
2184
2191
2198
2205
2212
2219
2226
2233
2240
2247
2254
2261
2268
2275
2282
2289
2296
2303
2310
2317
2324
2331
2338
2345
2352
2359
2366
2373
2380
2387
2394
2401
2408
2415
2422
2429
2436
2443
2450
2457
2464
2471
2478
2485
2492
2499
2506
2513
2520
2527
2534
2541
2548
2555
2562
2569
2576
2583
2590
2597
2604
2611
2618
2625
2632
2639
2646
2653
2660
2667
2674
2681
2688
2695

. Write a Python program to convert temperatures to and from celsius, fahrenheit.

In [22]:
# fahrenti to clecius
n=int(input("Enter a temprature f"))
f=(n-32)/1.8
print(f,"celcius")

Enter a temprature f45
7.222222222222222 celcius

In [27]:
# clecius to fahernti
n=int(input("enter  a temprature celcius"))
c=(n*1.8)+32
print("fahrenhite",c)

enter  a temprature celcius60
fahrenhite 140.0

Write a Python program to guess a number between 1 to 9.

In [43]:
import random 
num=random.randint(1,9)
number=int(input("enter number form 1 to 9 "))
while number!= num:
    print("guess a number")
    number=int(input("enter number form 1 to 9 "))
else:
    print("well gues")

enter number form 1 to 9 5
guess a number
enter number form 1 to 9 6
guess a number
enter number form 1 to 9 9
guess a number
enter number form 1 to 9 7
guess a number
enter number form 1 to 9 8
guess a number
enter number form 1 to 9 5
guess a number
enter number form 1 to 9 1
guess a number
enter number form 1 to 9 2
guess a number
enter number form 1 to 9 3
well gues

In [1]:
a= int(input("enter a number"))
while (a>9)or(a<1):
    a=int(input("enter a numbe"))
else:
    print("well guss")

enter a number4
well guss

 Write a Python program to construct the following pattern, using a nested for loop.

In [64]:
for i in range(1,6):
    print(" * "*i)
for y in range(5,0,-1):
    print(" * "*y)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [69]:
for i in range (1,6):
    print("* "*i)
for y in range(5,0,-1):
    print("* "*y)

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [91]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print()

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [110]:
i=1
while i<5:# 1 2 3 4 
    print("*"*i)
    i+=1

while i>=1: # 5 4 3 2 1
    print("*"*i)
    i-=1

*
**
***
****
*****
****
***
**
*

Write a Python program that accepts a word from the user and reverse it

In [116]:
a=input("enetr a word ")[::-1]
print(a)

enetr a word raj
jar

In [124]:
a=input("enter word")
while len(a):
    print(a[::-1])
    break

enter wordjay
yaj

In [131]:
a=input("enter a word ")
for i in reversed(a):
    print(i,end="")

enter a word lam
mal

In [137]:
l=[1,2,3]
l.reverse()
print(l)

[3, 2, 1]

6. Write a Python program to count the number of even and odd numbers from a series of numbers. Go to the editor
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
Expected Output :
Number of even numbers : 5
Number of odd numbers : 4

In [14]:
for i in range(10):
    if i%2==0:
        print("even number",i)
        
    else:
        
        print("odd number=",i)

even number 0
odd number= 1
even number 2
odd number= 3
even number 4
odd number= 5
even number 6
odd number= 7
even number 8
odd number= 9

In [32]:
n=(1,2,3,4,5,6,7,8,9)
odd=0
even=0
for i in n:
    if  i%2==0:
        even+=1
    else:
        odd+=1
print(even)
print(odd)

4
5

In [73]:
i=0
while i<=8:
    print('')
    i+=1

odd=0
even=0
for i in n:
    if  i%2==0:
        even+=1
    else:
        odd+=1
        
print(even)
print(odd)

4
5

In [71]:
i=0
while i<=9:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

7. Write a Python program that prints each item and its corresponding type from the following list.
Sample List : datalist = [1452, 11.23, 1+2j, True, 'himanshu', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [81]:
datalist = [1452, 11.23, 1+2j, True, 'himanshu', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for i in datalist:
    print(i,type(i))

1452 <class 'int'>
11.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
himanshu <class 'str'>
(0, -1) <class 'tuple'>
[5, 12] <class 'list'>
{'class': 'V', 'section': 'A'} <class 'dict'>

 Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [107]:
l=[0,1,2,3,4,5,6]
l.remove(3 and 6)
print(l)

[0, 1, 2, 3, 4, 5]

In [113]:
for i in range(6):
    if i==3 or i==6:
        continue
    else:
        print(i,end=" ")

0 1 2 4 5

In [150]:
i=-1
while i<6:
    i+=1
    if i==3 or i==6:
        continue
    else:
        print(i,end=" ")

0 1 2 4 5

 Write a Python program to get the Fibonacci series between 0 to 50.

Note : The Fibonacci Sequence is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, ....
Every next number is found by adding up the two numbers before it.

In [43]:
x,y=0,1

while y<50:
    print(y)
    x,y=y,x+y

1
1
2
3
5
8
13
21
34

In [ ]:
x,y=0,1 # 1 1 ,1 2
while y<50:
    print(y)
    x,y=y,x+y

In [45]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 3
Input number of columns: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

In [69]:
r=int(input("Enter a row number"))
c=int(input("Enter a column number"))
list=[[0 for col in range (c)]for row in range (r)]
for row in range(r):
    for col in range(c):
        list[row][col]=row* col
print(list)

Enter a row number3
Enter a column number4



[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [67]:
n=int(input("enter a row"))
arr=[0 for i in range(n)]
print(arr)

enter a row4
[0, 0, 0, 0]

In [84]:
while True:
    a=(input("Enter Text"))
    if len(a)==0:
        print("empty")
    break
    else:
        print(a.lower())

SyntaxError: invalid syntax (831329455.py, line 6)

In [91]:
while True:
    a = input('Enter text: ')
    if len(a) == 0:
        print('You entered nothing')
        break
    else:
        print(a.lower(), end = '\n')

Enter text: HEEL
heel

Write a Python program that accepts a string and calculate the number of digits and letters.

In [95]:
text=input("Enter a text: ")
d=0
l=0
for i in text:
    if i.isdigit():#The isdigit() method returns True if all the characters are digits, otherwise False
        d+=1
    elif i.isalpha():# The isalpha() method returns True if all characters in the string are alphabets. If not, it returns False
        l+=1
    else:
        pass
print("letter",l)
print("digit",d)

Enter a text: raj456
letter 3
digit 3

Write a Python program to check the validity of a password (input from users).

Validation :

At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.

In [100]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [102]:
import re
p= input("Input your password")
x = True
while x:  
    if (len(p)<6 or len(p)>12):
        break
    elif not re.search("[a-z]",p):
        break
    elif not re.search("[0-9]",p):
        break
    elif not re.search("[A-Z]",p):
        break
    elif not re.search("[$#@]",p):
        break
    elif re.search("\s",p):
        break
    else:
        print("Valid Password")
        x=False
        break

if x:
    print("Not a Valid Password")

Input your passwordPush@123
Valid Password

In [2]:
for i in range(7):
    for j in range(5):
        if i in {1,2,3,4,5,6} and j in {0,4}:
            print('*',end=' ')
        elif i in {0} and j in {1,2,3}:
            print('*',end=' ')
        elif i in {3} and j in {1,2,3}:
            print('*',end=' ')
        else:
            print(' ', end = ' ')
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [17]:
for i in range(7):
    for j in range(5):
        if i in {1,2,3,4,5,6} and j in {0,4}:
            print('*',end=' ')
        elif i in {0} and j in {1,2,3}:
            print('*',end=' ')
        elif i in {3} and j in {1,2,3}:
            print('*',end=' ')
        else:
            print(' ', end = ' ')
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [29]:
for i in range(7):
    for j in range(5):
        if i in {1,2,3,4,5,6} and j in {0,4}:
            print("*",end="")
        elif i in {0} and j in {1,2,3}:
            print("*",end=' ')
        elif i in {3} and j in {1,2,3}:
            print("*",end=' ')
        else:
            print(' ', end = ' ')
    print()

  * * *
*      *
*      *
** * * *
*      *
*      *
*      *

Write a Python program to calculate a dog's age in dog's years.
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [33]:
h=int(input("enter age"))
if h<0:
    print("age must be postive")
elif h<=2:
    d=h*10.5
else:
    d=21+(h-2)*4
print("age of dog is ",d)

enter age12
age of dog is  61

Write a Python program to check whether an alphabet is a vowel or consonan

In [44]:
s= input("Enter a word: ")
if s in ("a","i", "e","o","u"):
    print("vowles")
else:
    print("conson")

Enter a word: k
conson

In [49]:
s= input("Enter a word: ")
while s in ("a","i", "e","o","u"):
    print("vowles")
    break
else:
    print("conson")

Enter a word: k
conson

In [51]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
month_name = input("Input the name of Month: ")

if month_name == "February":
	print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
	print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
	print("No. of days: 31 day")
else:
	print("Wrong month name")

List of months: January, February, March, April, May, June, July, August, September, October, November, December
Input the name of Month: June
No. of days: 30 days